{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/gear/gear-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="gear-container">
  <div class="gear-img">
    <img 
      src="{% static 'images/vecteezy_cute-guitarist-with-headphone-for-logo-icon-and-illustration_.jpg' %}" 
      alt="Man with guitar"
      id="guitar-man"
    >
  </div>
  <div class="gear-details">
    <h1>{{ gear.brand }}</h1>
    {% if gear.price > 0 %}
      <h2>${{ gear.price }} {{ gear.name }}</h2>
    {% else %}
      <h2>{{ gear.name }}.</h2>
    {% endif %}
    <p>{{ gear.description }}</p>
    <div class="gear-actions">
      <a href="{% url 'gear_update' gear.id %}" class="btn warn">Edit</a>
      <a href="{% url 'gear_delete' gear.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}