{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/gear/gear-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Gear List</h1>
  <img src="{% static 'images/microphone-svgrepo-com.svg' %}" alt="A mic" />
  <img src="{% static 'images/electric-guitar-svgrepo-com (1).svg' %}" alt="A bass guitar" />
  <img src="{% static 'images/speaker-svgrepo-com.svg' %}" alt="A studio speaker" />
  <img src="{% static 'images/drum-svgrepo-com.svg' %}" alt="A drum" />
</section>

<section class="card-container">
  {% for gear in gear %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/electric-guitar-svgrepo-com.svg' %}" 
            alt="A strat style electric guitar"
          >
        </div>
        <h2 class="card-title">{{ gear.brand }}</h2>
        {% if gear.price > 0 %}
          <p>${{ gear.price }} {{ gear.name }}</p>
        {% else %}
          <p>A {{ gear.name }}.</p>
        {% endif %}
        <p><small>{{ gear.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}